
<div id="gotspace" class="modal hide">
  <%= form_for(@registration) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 style="color: #009dff">Register My Venue</h3>
  </div>
 
  <div class="modal-body">
    
    <% if @registration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

        <ul>
        <% @registration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-prepend span6">
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field :name, :placeholder => "Your name" %>
    </div>
      


    <br/>

    <div class="input-prepend span6">
      <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.text_field :email, :placeholder => "Email" %>
    </div>

    <br />

    <div class="input-prepend span6">
      <span class="add-on"><i class="icon-phone"></i></span>
      <%= f.text_field :phone, :placeholder => 'Phone' %>
    </div>
      
    <br />


    <div class="field">
      <%= f.hidden_field :vendortype, :value=> 'venue' %>
    </div>


    <br/>

    <div class="input-prepend span6">
      <span class="add-on"><i class="icon-map-marker"></i></span>
        <%= f.text_field :location, :placeholder => 'Venue Name' %>
    </div>
      


    <br/>

    <div>
      <%= f.text_area :comment, :placeholder => 'Describe your venue', :rows => 4 %>
    </div>

    <div class="actions">
      
    </div>
  

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Submit', :class=> "btn btn-primary" %>

  </div>
</div>

<% end %>






