<div class="row-fluid registrationblock">
  <div class="span3 rego-r1c1" style="margin: 0; width: 25%"><%= image_tag 'Image2.jpg' %></div>
  <div class="span3 rego-r1c2" style="margin: 0; width: 25%"><%= image_tag 'Image3.jpg' %></div>
  <div class="span3 rego-r1c3" style="margin: 0; width: 25%"><%= image_tag 'Image9.jpg' %></div>
  <div class="span3 rego-r1c4" style="margin: 0; width: 25%"><%= image_tag 'Image10.jpg' %></div>
</div>


<div class="row-fluid registrationblock">
  <div id="left-cta" class="span6 rego-r2c1" style="margin: 0; width: 50%; height: 240px;" data-toggle="modal" data-target="#needspace">
    <div class="regotext">I need a space for my event in Melbourne</div>
    <div class="separator"></div>
    <div class="counter">
      <div class="number">654654</div>
      <div class="">People</div>
    </div>
  </div>
  
  <div id="right-cta" class="span6 rego-r2c2" style="margin: 0; width: 50%; height: 240px;" data-toggle="modal" data-target="#gotspace">
    <div class="regotext">I want to rent my space in Melbourne</div>
    <div class="separator"></div>
    <div class="counter">
      <div class="number">654654</div>
      <div class="">People</div>
    </div>

  </div>

</div>


<div class="row-fluid registrationblock">
  <div class="span3 rego-r1c1" style="margin: 0; width: 25%"><%= image_tag 'Image4.jpg' %></div>
  <div class="span3 rego-r1c2" style="margin: 0; width: 25%"><%= image_tag 'Image6.jpg' %></div>
  <div class="span3 rego-r1c3" style="margin: 0; width: 25%"><%= image_tag 'Image11.jpg' %></div>
  <div class="span3 rego-r1c4" style="margin: 0; width: 25%"><%= image_tag 'Image12.jpg' %></div>
</div>



<%= render 'form_gotspace' %>
<%= render 'form_needspace' %>


<!-- *** javascript section **** -->
<script type="text/javascript">
    function getRegistrationCount(refreshTimer) {

      clearInterval(refreshTimer);

      $.ajax({
            url: "<%= get_registration_counts_registrations_path %>",
            data: { },
            success: function(data) {  
              if(data) {
                $("#left-cta .number").html(data.customers.toString());
                $("#right-cta .number").html(data.venues.toString());
              }

              refreshTimer = setInterval(function() {
                getRegistrationCount(refreshTimer);
              }, 5000);      
            }
      });
    }
  $(document).ready(function() {
    var refreshTimer;
    getRegistrationCount(refreshTimer);
  });
</script>


<br />
