<!DOCTYPE html>
<html>
  <head>
    <title>PopStartMe</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

  <% if params[:controller] == 'registrations' %>

    <%= yield :view_style_includes %>
    <%= yield :view_javascript_includes %>
  <% else %>
    <%= stylesheet_link_tag    "normalize" %>
    <%= stylesheet_link_tag    "foundation" %>
    <%= stylesheet_link_tag    "prettyPhoto" %>
    <%= stylesheet_link_tag    "mainStyles" %>
    <%= stylesheet_link_tag    "camera" %>
    <%= stylesheet_link_tag    "simplemodal" %>
    <%= stylesheet_link_tag    "home" %>

    <%= javascript_include_tag "foundation.min" %>
    <%= javascript_include_tag "foundation.orbit" %>
    <%= javascript_include_tag "jquery.arctext" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "jquery.mobile.customized.min" %>
    <%= javascript_include_tag "jquery.prettyPhoto" %>
    <%= javascript_include_tag "jquery.tweet" %>
    <%= javascript_include_tag "jquery.simplemodal" %>
    <%= javascript_include_tag "zepto.min" %>
    <%= javascript_include_tag "custom.modernizr" %>

    <%= javascript_include_tag "filterable.pack" %>
    <%= javascript_include_tag "novakScript" %>
    <%= javascript_include_tag "camera" %>
  <% end %>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <% if params[:controller] == 'registrations' %>
  <body class="animated fadeIn">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <% else %>
    <body>
      <%= yield %>
    </body>
  <% end %>
</html>