<!DOCTYPE html>
<html>
  <head>
    <title>PopStartMe</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= yield :view_style_includes %>
    <%= javascript_include_tag "application" %>
    <%= yield :view_javascript_includes %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <% if params[:controller] == 'registrations' %>
  <body class="animated fadeIn">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <% else %>
    <body>
      <%= yield %>
    </body>
  <% end %>
</html>